.translated {
    color: #909090;
    cursor: help;
    border-bottom-style: dashed;
}
.translated:hover {
    color: blueviolet;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: Microsoft JhengHei;
    font-weight:bold;
    display: none;
    background-color:	#FFFF93;
}
