<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 500px;
      margin: auto;
      text-align: center;
      font-family: Microsoft JhengHei;
      font-weight: bold;
      display: block;
      background-color: #FFFF93;
    }
  </style>
  <title>Document</title>
</head>

<body>
  <div id="myDiv" class="card">
    <form action="/updateData" method="get">
      <label for="zh_CN">中國用語</label>
      <input id="zh_CN" name="zh_CN" type="text"><br>

      <label for="zh_TW">台灣用語</label>
      <input id="zh_TW" name="zh_TW" type="text"><br>

      <label for="en_US">英文用詞</label>
      <input id="en_US" name="en_US" type="text"><br>

      <button>送出</button>
    </form>
  </div>
</body>

</html>